Q1. What are the characteristics of the tuples? Is tuple immutable?

1.>Tuples are immutable datatype which means you can't update it means insertion deletetion of particular item but can delete it whole.
2.>It can be used as password storage system.
3.> It can be used as a key in dictionary .

let me give you example by code

In [6]:
l=(1,2,3,4,5,1,"bhavesh","ganguly")

In [2]:
l[0]=2

TypeError: 'tuple' object does not support item assignment

Q2.>What are the two tuple methods in python? Give an example of each method. Give a reason why
tuples have only two in-built methods as compared to Lists.

1.>l.count()- this method count the occurence of element in it.

In [7]:
l.count(1)

2

2.>l.index()- this method give you  index of first occurence of the element tuple.

In [8]:
l.index(1)

0

Q3.> Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
duplicates from the given list.


List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

ans - set datatype don't allow the duplication of element

In [12]:
# code 
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
set_ = set(List)
List = list(set_)
List

[1, 2, 3, 4]

Q4.> Explain the difference between the union() and update() methods for a set. Give an example of
each method.

Ans-syntax is set1.update(set2),set1.union(set2) the union method is just take take union of two set and doesn't update the the any of two set.

-the update methode take union of both set and and update the set1 that given in the example.

In [18]:
set1={1,11,2,3,3,44656,565,6,7,True,5,5}
set2={"string","Integer","Float","boolean"}
set1.update(set2)


set1 #now you see set1 has upadetd

{1, 11, 2, 3, 44656, 5, 565, 6, 7, 'Float', 'Integer', 'boolean', 'string'}

In [20]:
set1={1,11,2,3,3,44656,565,6,7,True,5,5}
set2={"string","Integer","Float","boolean"}
set3=set1.union(set2)
print(set1) #this set1 has not update
print(set2)  #this set1 has not update
print(set3) # this is newly set that has created

{1, 2, 3, 5, 6, 7, 11, 44656, 565}
{'string', 'Float', 'boolean', 'Integer'}
{1, 2, 3, 'Float', 5, 6, 7, 'string', 11, 'Integer', 44656, 565, 'boolean'}

Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

The dictionary is datatype which store value data in (key-value) pair and it is unordered

Q6.Can we create a nested dictionary? If so, please give an example by creating a simple one-level
nested dictionary.

Ans - yes we can create a nested dictionary but dict should be in value place not in key place

In [21]:
# EXAMPLE 
dict1={"String":{"name":"Ganguly","email_id":"singhganguly@gmail.com"},"base":2}
dict1

{'String': {'name': 'Ganguly', 'email_id': 'singhganguly@gmail.com'},
 'base': 2}

In [24]:
dict1={{"name":"Ganguly","email_id":"singhganguly@gmail.com"}:"string","base":2} # dict as key

TypeError: unhashable type: 'dict'

you can see it above above it showing error

q7.>>. Using setdefault() method, create key named topics in the given dictionary and also add the value of
the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']


dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [25]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [28]:
dict1.setdefault(" named topics",["Python", "Machine Learning", "DeepLearning"])

['Python', 'Machine Learning', 'DeepLearning']

In [29]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 ' named topics': ['Python', 'Machine Learning', 'DeepLearning']}

Q8.>What are the three view objects in dictionaries? Use the three in-built methods in python to display
these three view objects for the given dictionary.
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

the first view is simple it ust shows key and value simulatneously

dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
dict1

dict1.keys() this method gives list datatype of keys in dictionary

In [32]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

dict1.values() gives list of values in dictionary

dict1.values()